<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870987306618-iiaej7gf6mvk7op98c9cekl9dtnhh4vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870987306618-iiaej7gf6mvk7op98c9cekl9dtnhh4vu</string>
	<key>API_KEY</key>
	<string>AIzaSyAYTPaLEX-Z81DwVO29e4Ykri739tKSiuE</string>
	<key>GCM_SENDER_ID</key>
	<string>870987306618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.falanxsoftware.MySquad</string>
	<key>PROJECT_ID</key>
	<string>mysquad-1b702</string>
	<key>STORAGE_BUCKET</key>
	<string>mysquad-1b702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870987306618:ios:98fb7fd62797621725cdc3</string>
</dict>
</plist>